.container {
  width: 100%;
  margin: 0 auto;
}
.form {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #2e2e2f;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.input-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.input-container span {
  padding-left: 15px;
}

.input-container input {
  width: inherit;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  color: #9ca3af;
}
input:focus {
  outline: none;
}
.form button {
  padding: 0.5rem 2.2rem;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;
  background-color: #4b4b4b;
  color: #fff;
  letter-spacing: 1px;
  font-size: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .container {
    width: 80%;
    margin-top: -2.3em;
  }
}
